body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    background-color: #F4F1DE;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
}
.tabuada{
    height: 200px;
}
#numero{
    padding: 5px 8px;
}
#enviar {
    border: none;
    background-color: #3D405B;
    color: #d66140;
    font-weight: 700;
    padding: 7px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}